<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <header>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> {{nombre}} </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </header>

  <main>
    <div class="card-container mt-4">
      <div *ngFor="let tarea of tareas" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ tarea.titulo }}</h5>
          <p class="card-text">{{ tarea.descripcion }}</p>
          <button class="btn btn-primary" (click)="eliminarTarea(tarea.id)">Eliminar</button>
          <button class="btn btn-primary ms-2" (click)="modificarTarea(tarea.id)">Modificar</button>
          <button class="btn btn-secondary" (click)="tareaCompletada(tarea)">
            {{ tarea.completada ? 'Desmarcar' : 'Marcar como Completada' }}
          </button>
        </div>
      </div>
    </div>
    <button (click)="crearTarea()" style="text-align: center;" class="btn btn-primary mt-4">Agregar Tarea</button>

  </main>

  <footer>
    
  </footer>

</body>

</html>
