<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

 <app-header></app-header>

  <main class="fondoColor">
    <div class="card-container" style="padding-top: 5rem;">
      <div *ngFor="let tarea of tareas" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ tarea.titulo }}</h5>
          <p class="card-text">{{ tarea.descripcion }}</p>
          <button class="btn btn-primary" (click)="eliminarTarea(tarea.id)">Eliminar</button>
          <button class="btn btn-primary ms-2" (click)="modificarTarea(tarea.id)">Modificar</button>
          <button class="btn btn-secondary" (click)="tareaCompletada(tarea)">
            {{ tarea.completada ? 'Desmarcar' : 'Marcar como Completada' }}
          </button>
        </div>
      </div>
    </div>

    <div style="text-align: center;">
      <button (click)="crearTarea()" style="text-align: center;" class="btn btn-primary mt-4">Agregar Tarea</button>
    </div>
    

  </main>

  <app-footer></app-footer>

</body>

</html>
