/* You can add global styles to this file, and also import other style files */
main{
  height: 91vh;
}

body {
  
  font-family: Arial, sans-serif;
  /* Ajuste para evitar la superposición con la barra de navegación fija */
}


/* Estilos para el footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: #666;
}

footer a {
  margin-left: 10px;
  color: #666;
  transition: color 0.2s ease;
}

footer a:hover {
  color: #333;
}